*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header {
    position: fixed;
    width:100vw;
    display: flex;
    top: 0px;
    justify-content: space-between;
    background-color: rgb(43, 139, 139);
}
  #header-img{
    padding: 20px;
    color:white;
    height: 60px;
  }
  #nav-bar ul{
    display:flex;
    align-items: center;
    width: 100%;
    padding-right: 35px;
}
ul li{
    list-style: none;
    padding: 20px;
  }
  ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
  }
  main{
    height: 90vh;
    background-color: pink;
    padding-top: 75px;
  }
  #email{
    height: 30px;
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    }
  #submit{
    height: 30px;
    width: 200px;
    display: block;
    margin: auto;
    background-color: rgb(53, 228, 53);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
iframe{
    align-items: center;
    display: block;
    margin: auto;
}
footer{
    width:100%;
    height: 10vh;
    background-color: lightcoral;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    padding-top:30px;
}

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }